
<h2>Welcome, <%=@name%>!</h2>

<table width='150' border='2' cellspacing='6' cellpadding='5'>
  <% @data.each do |row| %>
    <tr>
      <% row.each do |cell| %>
      <td><%= cell %></td>
      <% end%>
    </tr>
  <%end%>
</table>

<form action='/play_game' method="post">
  Use letter and number combination (e.g. A1) to place your ship <input type="text" name="coordinate" required>
  <input type="submit" value="Place">
</form>
